# Secrets

enable_kubernetes_secret = "0"
kubernetes_secret        = ""
docker_repo              = ""
docker_username          = ""
docker_password          = ""
docker_email             = ""
docker_auth              = ""

# Cluster

kubernetes_rbac_group = ""
ingress_domain        = ""

# Cert Manager

cert_manager_letsencrypt_email          = ""
cert_manager_azure_service_principal_id = ""
cert_manager_azure_client_secret        = ""
cert_manager_azure_subscription_id      = ""
cert_manager_azure_tenant_id            = ""
cert_manager_azure_resource_group_name  = ""
cert_manager_azure_zone_name            = ""

# Prometheus
prometheus_grafana_password = ""

# Vault
vault_aad_client_id      = ""
vault_aad_resource_id    = "/subscriptions/<subscription>/resourceGroups/<resourcegroup>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/<msi>"
vault_azure_storage_key  = ""
vault_azure_storage_name = ""
vault_keyvault_name      = ""
vault_tenant_id          = ""

# Velero
velero_backup_storage_resource_group = ""
velero_backup_storage_account        = ""
velero_backup_storage_bucket         = ""
velero_azure_client_id               = ""
velero_azure_client_secret           = ""
velero_azure_resource_group          = ""
velero_azure_subscription_id         = ""
velero_azure_tenant_id               = ""
